$green:       #3cb89c !default;
$blue:        #3a96d8 !default;
$white:       #ffffff !default;
$cream:       #e7f5ecd3 !default;
$black:       #303030 !default;
$gray:        #828282 !default;
$super-gray:  #ada8a8 !default;

/**fonts**/

$web-head:      26px;
$web-body:      16px;
$mobile-head:   16px;
$mobile-body:   12px;
$input-size:    14px;


