@include media-breakpoint-down('sm') {
    body {
        font-size: 13px;
    }
}


/*
* Effects the login and register background overlay visible
* on web view only.
*/

.app-bg {
    background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
    background-position: center;
    height: 100%;
}

.bg-blue {
    background-color: $blue;
}

@include media-breakpoint-down('sm') {
    .bg-student-sm {
        background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
        background-position: center;
        padding: 20px 25px;
    }
    .bg-student-sm__container {
        background-color: $white;
        padding: 20px 5px;
        border-radius: 5px;
    }
}

@media (max-width: 767.98px) {
    .register__container {
        background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
        background-position: center;
    }
}

@include media-breakpoint-up('md') {
    .navbar--none {
        display: none;
    }
    .box-shadow {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon-wallet {
    font-size: 25px;
    color: $primary;
}

// Make Navbar slide from left instead of top
@media (max-width: 768px) {
    .navbar--none {
        background-color: #ffffff;
    }
    .navbar-collapse--none {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 55%;
        height: 100%;
        background-color: #3496DA;
        z-index: 2000;
    }
    .navbar-collapse--none.collapsing {
        height: 100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse--none.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}

.border-gray {
    border-color: $gray-500;
}
.exam-select {
    border: 1px solid $light;
    padding: em(35) em(25);
    border-radius: 5px;
    text-align: center;
    transition: border-color .5s linear;

    &:hover {
        border: 1px solid $gray-500;
        transition: border-color .7s linear;
        //cursor: pointer;
    }
}
.exam-select__title {
    font-size: em(16);
    text-transform: uppercase;
}
.exam-select__info {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 5px;
    font-size: .75em;
    text-transform: uppercase;

    & i {
        color: $primary;
        font-size: 1.8em;
        margin-right: 4px;
    }
}
@include media-breakpoint-down('sm') {
    .exam-select {
        margin: 20px 0;
    }
}

.input-range__slider {
    background: $white !important;
    border: 1px solid $blue !important;
}
.input-range__track--active {
    background: $blue !important;
}

/*
* React Element
*/
.react__textarearow {
    border: 1px solid $gray-500;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.select--custom {
    border: 1px solid $gray-500;
    border-radius: 5px;
    padding: 5px 90px 5px 10px;
    background-color: transparent;
    display: inline-block;
    margin: 0 8px;

    &:active, &:focus {
        outline: none;
    }
}

.school-logo {
    width: 90px;
    height: 90px;
}
.school-logo-sm {
    width: 55px;
    height: 55px;
}

.link {
    cursor: pointer;
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}