@include media-breakpoint-down('sm') {
    body {
        font-size: 13px;
    }
}


/*
* Effects the login and register background overlay visible
* on web view only.
*/

.app-bg {
    background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
    background-position: center;
    height: 100%;
}

@include media-breakpoint-down('sm') {
    .bg-student-sm {
        background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
        background-position: center;
        padding: 20px 40px;
    }
    .bg-student-sm__container {
        background-color: $white;
        padding: 20px 5px;
    }
}

@media (max-width: 767.98px) {
    .register__container {
        background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
        background-position: center;
    }
}

@include media-breakpoint-up('md') {
    .navbar {
        display: none;
    }
    .box-shadow {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon-wallet {
    font-size: 25px;
    color: $primary;
}

// Make Navbar slide from left instead of top
@media (max-width: 768px) {
    .navbar {
        background-color: #ffffff;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 55%;
        height: 100%;
        background-color: #3496DA;
        z-index: 2000;
    }
    .navbar-collapse.collapsing {
        height: 100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}