.hero-text {
    font-size: em(50);
    font-weight: bolder;
    text-transform: uppercase;
    color: $white;
}

.hero-text__info {
    font-size: em(22);
}

.block-title {
    font-size: em(35);
}
@include media-breakpoint-down('sm') {
    .block-title {
        font-size: em(29);
    }
}