extends layout

block content
  div.container-fluid.home-bg.pb-5.pb-md-0
    div.row
      div.col-md-7.col-0.py-md-5.py-2.welcome-section
        p.welcome WELCOME TO THE CBT APP
        p.welcome-content.mt-5 Giving you the real-life Computer Based Test experience

      div.col-md-5.col-10.offset-1.offset-md-0.register-section.pt-md-5.py-3#register
        
  script(src='/js/app.js' type='text/javascript')
  script(src='/js/script.js' type='text/javascript')