doctype html
html
  head
    title!= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="/images/icon.png" rel="icon")
    link(href="https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap&subset=latin-ext" rel="stylesheet")
    link(href="/build/css/bs.css" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet")
    link(href="/build/css/app.css" rel="stylesheet")
    block css
  body
    block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js")
    block scripts