extends layout

block content
  .container-fluid
    .row
      .col-12.col-sm-8.col-md-7.d-none.bg-primary.d-md-flex.align-items-center.position-fixed.app-bg
        .row.justify-content-center
          .col-md-10.offset-md-2.py-5.text-light
            h1.hero-text Welcome to the Cbt App
            p.mt-5.hero-text__info Giving you the real-life Computer Based Test experience

    .row.justify-content-end.py-0.py-md-5.min-vh-100
      .col-12.col-sm-12.col-md-5.d-block.d-md-flex.align-items-center.px-md-4.bg-student-sm
        .row.d-flex.d-md-none.text-white.my-4
          .col-12.text-center.text-white
            h3.text-uppercase.text-white Welcome to the CBT App
            p Giving you the real-life Computer Based Test experience

        .row.px-2.px-md-5.bg-student-sm__container
          .col-12
            div.text-center.mb-4
              img.school-logo.text-center(src="/images/kwasu.png" alt="school logo")
            h1.text-uppercase.font-weight-bolder.block-title.text-center.text-md-left Login to your Account
          .col-12
            form(method="post" action="/login")
              .form-row
                .form-group.col-12
                  label(for="email")
                  input(type="text" name="email" class="form-control" id="email" placeholder="Enter your email")
                  if flashes.error
                    span.form-text.small.text-danger.mb-0 #{flashes.error[0]}
              .form-row
                .form-group.col-12
                  label(for="password")
                  input(type="password" name="password" class="form-control" id="password" placeholder="Enter your password")
              .form-row
                .form-group.col-12
                  span.font-weight-bold Forgot Password?
                    a(href="#") Click here
              .form-row.mt-4
                .form-group.col-12
                  button(type="submit" class="btn btn-success btn-custom btn-block") Sign In
              .form-row
                .form-group.col-12
                  a(href="/register" class="btn btn-transparent btn-block") Sign Up