extends layout

block content
  .container-fluid
    .row.min-vh-100.align-items-center
      .col-12.col-sm-8.col-md-7.d-none.bg-primary.min-vh-100.d-md-flex.align-items-center
        .row.justify-content-center
          .col-md-10.offset-md-2.py-5.text-light
            h1.hero-text Welcome to the Cbt App
            p.mt-5.hero-text__info Giving you the real-life Computer Based Test experience

      .col-12.col-sm-12.col-md-5.min-vh-100.d-flex.align-items-center
        h2 I am coming Home