extends ../layout

block content
  #app
  .modal.fade#logout-modal
    .modal-dialog.modal-sm.modal-dialog-centered
      .modal-content.px-3.py-4.text-center
        h4 Log Out Account?
        div.py-3
          a(href="/logout" class="btn btn-sm btn-success mx-3 px-4 font-weight-bold") Yes
          a(href="#" data-dismiss="modal" class="btn btn-sm btn-outline-success mx-3 px-4 font-weight-bold") No



  script(src='/build/js/dashboard.js' type='text/javascript')