.btn-custom {
    font-weight: bold;
    font-size: em(19);
    padding: em(10) em(20) !important;

    &:active, &:focus {
        outline: none;
    }
}

.btn-transparent {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: em(19);
    padding: em(10) em(20) !important;

    &:active, &:focus {
        outline: none;
    }
}

.btn--small {
    text-transform: uppercase;
    font-size: em(12);
    font-weight: bold;
}