.btn-custom {
    font-weight: bold;
    font-size: em(19);
    padding: em(10) em(20) !important;
    &:active,
    &:focus {
        outline: none;
    }
}

.btn-transparent {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: em(19);
    padding: em(10) em(20) !important;
    &:active,
    &:focus {
        outline: none;
    }
}

.btn--small {
    text-transform: uppercase;
    font-weight: bold;
}

@include media-breakpoint-down('md') {
    td,
    .btn--small {
        font-size: em(12);
    }
}

.btn-terminate {
    text-transform: uppercase;
    font-size: .75em;
    padding: 10px 20px;
    font-weight: bold;
}