.form-effect{
    width: 100%;
    height: 48px;
    border: 1px solid $gray-500;
    border-radius: 5px;
    
    font-size: 16px;
    &:focus{
        border: 1px solid $green;
        outline: none;
    }
}
@media (max-width: 767.98px){
    .form-effect{
        height: 33px;
    }
}