html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome to CBTor
    body
        h4 Hello #{user.firstName}
        p We are glad to welcome you to CBTor app. The app helps you to prepare for CBT examinations 
        | across all levels and colleges.
        p We'd like to inform you that you can request coupon credit from any of our support channel just incase 
        | you exhaust your wallet balance. You should note that each exam you take will cost you <b>&#8358;10</b>
        | from your wallet balance.
        p Once again, welcome to CBTor, we wish you the very best in your upcoming examinations.