.welcome-section{
    background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
    background-position: center;
    padding-left: 180px;
    padding-right: 180px;
    line-height: 40px;
}
.welcome{
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    color: $white;
}
.welcome-content{
    font-size: $mobile-head;
    color: $white;
}
.home-bg{
    background-size: contain;
    background-position: right;
}
.register-section{
    background-color: $white;
    padding-left: 7%;
    padding-right: 7%;
}
.form{
    padding-bottom: 100px;
}
.register{
    font-weight: bold;
    font-size: $web-head;
}
.input-value{
    width: 100%;
    background-color: $white;
    border: 1px solid $super-gray;
    border-radius: 5px;
    color: $gray;
    font-size: $input-size;
    &:focus{
        border: 1px solid $green;
        border-radius: 5px;
        outline: none;
    }
}
.field-icon {
    margin-left: -40px;
    margin-top: 30px;
    position: relative;
    color: $gray;
    
}
.coupon{
    font-size: $mobile-body;
    color: $green;
}
.btn-block, .btn-block:hover{
    background-color: $green;
    font-weight: bold;
    font-size: $mobile-body;
    color: $white;
}
.forgot{
    font-size: $mobile-body;
    font-weight: bold;
    line-height: 0px;
    color: $gray;
}
.link, .link:hover{
    color: $blue;
    text-decoration: none;
}

/**mobile view**/

@media (max-width: 575.98px) { 
    .home-bg{
        background-image: linear-gradient(rgba(58, 150, 216, 0.9), rgba(58, 150, 216, 0.9)), url('/images/team.jpeg');
        background-size: cover;
        background-position: center;
    }
    .welcome-section{
        margin-top: 20px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .welcome{
        font-size: $web-head;
        padding-top: 20px;
    }
    .welcome-content{
        display: none;
    }
    .register{
        font-size: 20px;
        text-align: center;
    }
    .forgot{
        display: inline;
    }
    .form{
        padding-bottom: 20px;
    }
 }
